name: CI

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/* # Always use latest LTS
        cache: npm

    - name: npm ci
      run: npm ci

    - name: npm run build
      run: npm run build -- --env CONNECTION_STRING="${{ secrets.CONNECTION_STRING }}"

    # - name: npm run test
    #   run: npm run test

    - name: Install tfx-cli
      run: npm install -g tfx-cli

    - name: Package extension
      run: >
        tfx extension create
        --root dist
        --manifests vss-extension.json vss-extension.prod.json
        --output-path sariftools.scans.vsix

    - name: Package dev extension
      run: >
        tfx extension create
        --root dist
        --manifests vss-extension.json vss-extension.dev.json
        --output-path sariftools.scans-dev.vsix

    - uses: actions/upload-artifact@v4
      with:
        name: vsix
        path: '*.vsix'
